<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" itemscope itemtype="http://schema.org/Blog">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>-[ farproc.github.com - {{ page.title }} ]-</title>

    <!-- google+ -->
    <meta itemprop="name" content="{{ page.title }}">
    <meta itemprop="description" content="{{ page.title }}">

    <!-- google analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33179968-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    <div id="container">

        <div class="inner">
            <header>
                <h1>farproc.github.com</h1>
                <h2>My random thoughts and mumblings.</h2>
            </header>

            <section id="downloads" class="clearfix">
                <table>
                    <tr>
                        <td align=left><a href="/"><span>blog</span></a></td>
                        <td align=left><a href="https://plus.google.com/105697390180561946359"><span>google+</span></a></td>
                        <td align=left><a href="http://www.flickr.com/photos/tim_bateman/"><span>flickr</span></a></td>
                        <td align=left><a href="https://github.com/farproc"><span>github</span></a></td>
                    </tr>
                </table>
                <!-- google+ button -->
                <g:plusone annotation="inline"></g:plusone>
                <script type="text/javascript">
                  (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                  })();
                </script>
            </section>

            <hr />

            <section id="main_content">

                {{ content }}

            </section>

            <footer>
                This page was initial generated by <a href="http://pages.github.com">GitHub Pages</a>. Tactile theme by <a href="http://twitter.com/jasonlong">Jason Long</a>.
            </footer>

        </div>
    </div>
</body>
</html>

